<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>
 
<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @person.address.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @person.address.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @person.address.zipcode %>
</p>



<%= link_to "Contact Index", people_path %><br>
<%= link_to "Edit contact", edit_person_path %><br>